.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header{
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  font-family: "Jersey 25", sans-serif ;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

h2{
  padding: 20px;
}
h1{
  padding: 10px;
}

canvas {
  border: 1px solid black;
}